<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="foundation-apps/dist/css/foundation-apps.min.css">
</head>
<body ng-app="demo" ng-controller="demoCtrl">

    <div class="align-center grid-block" style="margin-top: 1%;">
        <div class="small-4 grid-block">
            <a ng-repeat="modalId in idArray" class="button" href="#" ng-click="showModal(modalId)">Show {{modalId}}</a>
        </div>
    </div>

    <div class="align-center grid-block">
        <p>{{promiseResult}}</p>
    </div>

    <script src="angular/angular.js"></script>
    <script src="foundation-apps/dist/js/foundation-apps.js"></script>
    <script src="foundation-apps-modal.js"></script>
    <script src="app.js"></script>
</body>
</html>